# Dependencias
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Configuración IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp